@import "./variables.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Pretendard, Arial, sans-serif;
  color: var(--color-text);
  background-color: #ffffff;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}