:root {
  --color-primary: #2997ff;
  --color-primary-light: #f5f5f7;

  --color-text: #191919;
  --color-text-secondary: #777777;

  --color-border: #dddddd;
  --color-sidebar: #f5f5f7;

  --color-success: #67efa9;
  --color-danger: #ff6b6b;

  --radius-sm: 8px;
  --radius-md: 12px;

  --sidebar-width: 230px;
}